

body{
	background-color: #081928;
	background: radial-gradient(ellipse, #165D79, #081928);
	text-align: center;
	font-family: Tahoma;
}
header{
    width: 80%;
	margin:auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
nav{
	width: 80%;
	margin:auto;
	padding: 0;
	text-align:left;
	
}
nav menu{
	width:100%;
	display: table;
	
	margin-left: 0;
}
menu li{
	display: table-cell;
	text-align:left;
	/*margin:auto;*/
	vertical-align: middle;
	
}
menu li a{
	text-transform: uppercase;
	color:#ffffff;
	font-size: 16px;
}
menu li img{
	margin: 0 10px 0 0;
	height:18px;
}
footer{
	width:100%;
	border-top: 1px solid #346378;
	min-height: 100px;
	background: radial-gradient(ellipse, #165D79, #081928);
	padding-top: 38px;
	font-family: Arial;
	color: #FFFFFF;

}	
footer a{
    color:#4083A9;

}
	td{
		text-align:left;
		padding:0 30px 0 0;
	}
	td:nth-child(1){
		font-weight: bold;

	}
	table{

	}


.content{
	color: #0E4D66;30px;
	background-color: #ffffff;
	border-radius: 10px;
	font-family: Tahoma;
	font-size: 14px;
	text-align: left;
	line-height: 2;
	width: 80%;
	margin:auto;
	overflow:hidden;
	margin-bottom: 55px;
	padding: 55px 55px 50px 65px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	box-shadow: 5px 5px 5px black;
}

.content h1{
	font-weight: bold;
	font-size: 24px;
	text-align: left;
	text-shadow: 2px 1px #CFCFCF;
}
.content h2{
	font-weight: bold;
	font-size: 18px;
	text-align: left;
}


.content h3{
	font-weight: bold;
	font-size: 14px;
	text-align: left;
}
	
.photo{
	float:left;
	border: 2px solid #1C85AF;
	border-radius: 3px;
	padding: 4px;
	margin-right: 25px;
}
.telefon-number{
	font-size: 24px;
	font-family: Arial;
	color: #F2B01C;
}
.telefon{
	font-size: 12px;
	
	float:left;
	margin-left: 10%;
}
.lower-logo{
	float:right;
	margin-right: 10%;
	font-size:12px;
}
.lower-logo img{
	float:left;
	margin-right: 15px;

}
.clear{
	clear:both;
}