@font-face{
	font-family: OpenSans;
	src: url("../fonts/2211.ttf");
	font-style:normal;
	font-weight:normal;
}
@font-face{
	font-family: OpenSansLight;
	src: url("../fonts/2209.ttf");
	font-style:normal;
	font-weight:normal;
}
html{
	font-family: OpenSans;
	font-size:18px;
	line-height: 1.6;
	color: #34495E;

	box-sizing:border-box;
}
header{
	background-image: url("../img/header2.jpg");
	background-repeat: no-repeat;
	height: 882px;
	padding:70px 286px 0 286px;
	color:white;

}
header a{
	color:white;
	text-decoration: none;
}
header menu{
	float:right;
}
header menu li{
	display: inline-block;
}
header menu li a{
	padding-left:12px;
	padding-right:12px;
	padding-bottom: 17px ;
}
header menu li a:last-child{
	padding-right: 0;
}
header menu li a:hover{
	border-bottom: 3px solid #1ABC9C;
}
header h2{
	margin-top: 255px;
	margin-bottom: 48px;
	font-size: 1.6rem;
}
header p{
	font-family:OpenSansLight;
	line-height: 1.6;
}
section::after{
	content: ".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;

}
footer{
	padding: 75px 286px 75px 286px;
	background-color: #2C3E50;
	text-align: center;
	color:white;
	font-size: 0.88rem;
}
button{
	border:none;
	background-color:#1ABC9C;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	width:170px;
	height:56px;
	text-align:center;
	

}
button:hover{
	background-color:#16997F;
}
.bt_green{
	background-color:#1ABC9C;
	float:left;
	
}
.bt_blue{
	background-color: #3498DB;
	margin-left: -6px;

}


.bt_blue:hover{
	background-color:#2073AB;
}

.wrapper{

	width:1500px;
	margin:0 auto;

}
.wrapper>section{
	padding-left: 286px;
	padding-right: 286px;
}
.h_float{
	margin-left: 453px;
	float: left;
	width: 477px;
}
.clearfix::after{
	content: ".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;


}
.bt_container{
	position:relative;
	z-index:0;
	margin-top:64px;
}

.between{
	margin-left: -6px;
	margin-top:15px;
	width:29px;
	height:29px;
	background-color: white;
	color: #43495E;
	text-align: center;
	font-size:15px;
	float:left;
	border:none;
	padding:0;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	z-index:1;
	position: relative;
}
/*
#outer_screen{
	float:left;
	margin-top:195px;
	height: 534px;
	width: 411px;
	background-color: #ECECEC;
	padding-top: 45px;
	border:2px solid #E9E9E9;
	border-radius:22px;
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	-o-border-radius:22px;
	box-shadow: 0 5px 1px #C5C5C5;

}
#inner_screen{
	width: 322px;
	height:440px;
	margin: auto;
	
	background-color: #2A2B2A;
	border: 1px solid #BCBCBC;

}
*/
#sec1{
	padding-bottom:131px;
}
#sec1 h2{
	margin-bottom:25px;
	font-size:1.3rem;
}
#sec1 img{
	float: right;
	margin-left: 14px;
}
#sec1 img:nth-child(2){
	margin-top: 61px;

}
#sec2{
	background-color: #F6F6F6;
	text-align:center;
	font-size:0.77rem;
	font-family:OpenSansLight;
	color: #2C3E50;
	padding-bottom:95px;
	padding-top:70px;
}
#sec2 h2{
	font-size: 1.1rem;
	font-family:OpenSans;
	margin-top:22px;
	margin-bottom: 25px;
}
#sec2 div{
	float:left;
	width:30%;
	margin-right:24px;
}


#sec2 img{
	height: 85px;
}
#sec3{
	background-image: url("../img/bg2.jpg");
	background-repeat: no-repeat;
	color:white;
	text-align:center;
	padding-top: 60px;

}
#sec3 h2{
	font-family: OpenSansLight;
	font-size:1.6rem;
	margin-bottom:12px;
}
#sec3 h3{
	margin-top:0;
	margin-bottom: 97px;
}
#sec3 img{
	float:left;
	margin:auto;
	margin-top: 42px;
}
#sec3>img{
	margin: 0 90px 0 100px;



}
#sec4{
	font-size:0.77rem;
	padding-top:126px;
	padding-bottom: 130px;

}
#sec4 h2{
	font-family: OpenSansLight;
	font-size:2.6rem;
	text-align: center;

}
#sec4 div{
	float:left;
	width: 45%;
}
#sec4 img{
	float:left;
	margin-top:18px;
	margin-right: 20px;
}
#sec4 div p::after{
	content: ".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}

#sec5{
	background-image: url("../img/footer-bg.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-color: #34495E;
	color:white;
	font-size:0.77rem;
	padding-top:105px;
	padding-bottom:116px;
	overflow:hidden;
}
#sec5 div{
	float:left;
	width:445px;
}
#sec5 div:last-child{
	float:right;
	width:457px;

}
#sec5 h2{
	font-size: 1.3rem;
	margin-bottom: 25px;
	margin-top:0;

}
#sec5 div h2+p{
	font-family: OpenSansLight;
}
#sec5  img{
	margin-right:6px;
}
#sec5 input[type=text], input[type=email],textarea{
	display:block;
	border:none;
	margin-bottom: 14px;
	padding-left:13px;
	background-color: #5D6D7E;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	
	height: 43px;

}
textarea{
	width: 460px;
	height:149px;
	margin-bottom:0;
}

#sec5 input[type=reset], input[type=submit]{
	border:none;
	float: right;
	width:170px;
	height:57px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	margin-top:14px;


}
#sec5 input[type=reset]{
	
	
	background-color:#1ABC9C;
	


}
#sec5 input[type=submit]{
	
	
	margin-left: 14px;
	background-color:#3498DB;

}

#sendername{
	width: 210px;
}
#mail{
	width: 210px;
	float:right;
}
select{
	background-color: rgba(0,0,0,0);
	border:none;
	width: 468px;
	height:43px;
	padding-left:13px;

}
#select{
	width:460px;
	height:43px;
	overflow:hidden;
	background-color: #5D6D7E;
	background-image: url('../img/select.png');
	background-repeat: no-repeat;
	background-position: right center;
	margin-bottom: 14px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}
